.left {
  background-color: black;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-flow: column;
}

.left .header {
  height: 10vh;
  max-height: 60;
  background-color: #0a7961;
  padding: 20px;

  align-items: center;
}

.dropdown {
  float: right;
}

.left .search {
  height: 10vh;
  width: 100vh;
  padding-left: 10px;

  background-color: rgb(230, 230, 230);
}

.left .conversations {
  height: 80%;
  background-color: rgb(132, 187, 194);
  overflow-y: scroll;
}

.left .conversations::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.left .conversations::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.left .conversations::-webkit-scrollbar-thumb {
  background-color: #6b3a61;
}
